.round-square {
    z-index: 100;
    width: 120px;
    height: 120px;
    background-color: var(--color01);
    border-radius: 50%;
    transition: transform 0.6s, box-shadow 0.6s, border-radius 2s;
}

.round-square:hover {
    transform: scale(2);
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 200;
}

.turnaround:hover {
    transform: rotate(360deg) !important;
    transition: transform 2s;
}